/*global styles*/

@font-face {
    font-family: 'hot_and_black_tearegular';
    src: url('hot_and_black_tea_-_otf-webfont.woff2') format('woff2'),
         url('hot_and_black_tea_-_otf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
  max-width: 2000px;
  padding:0px;
  margin:0px;
  font-family:Optima, sans-serif;
}

div, section, main, aside, header, footer {
  border:0px;
  padding:0px;
  margin-bottom:0px;
}




/*navigation*/


.home-logo{
  max-width:300px;
  float:left;
  padding:0px;
  margin:0px;
  cursor:pointer;
}

.home-logo:hover{
  opacity: 0.5;
  filter: alpha(opacity=50);
}

@media only screen and (max-width: 1000px) {
  .home-logo{
    max-width:220px;
    float:left;
    padding:0px;
    margin:0px;
    cursor:pointer;
  }
}


@media only screen and (max-width: 1500px) {
  .home-logo{
    max-width:215px;
    float:left;
    padding:0px;
    margin:0px;
    cursor:pointer;
  }
}



@media only screen and (max-width: 500px) {
  .home-logo{
    max-width:200px;
    padding:0px;
    margin:0px;
    cursor:pointer;
    padding-left:5px;

  }
}


.instagram-icon{
  max-width:100px;
  float:right;
  padding:0px;
  padding-top:50px;
  margin:0px;
  padding-left:50px;
  padding-right:30px;
  cursor:pointer;

}

.instagram-icon:hover{
  opacity: 0.5;
  filter: alpha(opacity=50);
}

@media only screen and (max-width: 1000px) {
  .instagram-icon{
    max-width:80px;
    float:right;
    padding:0px;
    padding-top:40px;
    margin:0px;
    padding-left:50px;
    padding-right:30px;
    cursor:pointer;
  }
}

@media only screen and (max-width: 1500px) {
  .instagram-icon{
    max-width:75px;
    float:right;
    padding:0px;
    padding-top:40px;
    margin:0px;
    padding-left:20px;
    padding-right:30px;
    cursor:pointer;
  }
}

@media only screen and (max-width: 1000px) {
.instagram-icon{
  display:none;
}
}



.facebook-icon{
  max-width:82px;
  float:right;
  padding:0px;
  padding-top:48px;
  margin:0px;
  padding-left:30px;
  cursor:pointer;
}

.facebook-icon:hover{
  opacity: 0.5;
  filter: alpha(opacity=50);
}

@media only screen and (max-width: 1000px) {
  .facebook-icon{
    max-width:62px;
    float:right;
    padding:0px;
    padding-top:38px;
    margin:0px;
    padding-left:30px;
    cursor:pointer;
  }
}

@media only screen and (max-width: 1500px) {
  .facebook-icon{
    max-width:62px;
    float:right;
    padding:0px;
    padding-top:38px;
    margin:0px;
    padding-left:0px;
    cursor:pointer;
  }
}


@media only screen and (max-width: 1000px) {
.facebook-icon{
  display:none;
}
}







.main-nav{
  list-style-type:none;
  text-align:center;
  display:inline-block;
  font-size:30px;
  padding:40px;
  padding-top:60px;
  padding-bottom:5px;
  background-color:white;
  color:#071c87;
  font-weight:bold;
  padding-bottom:10px;

}



@media only screen and (max-width: 1500px) {
  .main-nav{
    list-style-type:none;
    text-align:center;
    display:inline-block;
    font-size:24px;
    padding:10px;
    padding-top:50px;
    padding-bottom:5px;
    background-color:white;
    color:#071c87;
    font-weight:bold;
    padding-bottom:0px;
    margin-left:0px;
    margin-bottom:0px;
  }

}



@media only screen and (max-width: 1000px) {
  .main-nav{
  display:none
  }
}








@media only screen and (min-width: 1001px) {
  .mobile{
    display:none;
  }
}



@media only screen and (max-width: 1000px) {
  /*
   * Made by Erik Terwan
   * 24th of November 2015
   * MIT license
   *
   *
   * If you are thinking of using this in
   * production code, beware of the browser
   * prefixes.
   */

  body
  {
    margin: 0;
    padding: 0;

    /* make it look decent enough */
    background:white;
    color: #071c87;
    font-family:Optima, sans-serif;

    overflow-x: hidden; /* needed because hiding the menu on the right side is not perfect,  */
  }

  a
  {
    text-decoration: none;
    color: #071c87;


  }

  a:hover
  {
    color: #a7c3ff;
  }

  #menuToggle
  {
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input
  {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }

  /*
   * Just a quick hamburger
   */
  #menuToggle span
  {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #071c87;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }

  /*
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #071c87;
  }

  /*
   * But let's hide the middle one.
   */
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  /*
   * Ohyeah and the last one should go the other direction
   */
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
  }

  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
  #menu
  {
    position: absolute;
    width: 440px;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    right: -100px;

    background: white;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  #menu li
  {
    padding: 15px 0;
    font-size: 22px;
    padding-left: 15px;
  }

  /*
   * And let's fade it in from the left
   */
  #menuToggle input:checked ~ ul
  {
    transform: scale(1.0, 1.0);
    opacity: 1;
  }

  .mobile{
    padding-bottom:80px;

  }


}






.main-nav:hover{
  color:#a7c3ff;
}

.dropdown{
    position:relative;
    display:inline-block;
    padding:0px;
    margin:0px;
    padding-bottom:30px;
    cursor:pointer;
}

.dropdown-content{
    display:none;
    position:absolute;
    background-color:#f9f9f9;
    min-width:200px;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
    padding-left:10px;
    z-index:1;
    list-style-type:none;
    margin-left:40px;
    padding:20px;
    color:#071c87;
    font-weight:bold;
    cursor:pointer;
}

@media only screen and (max-width: 1000px) {
.dropdown-content{
    display:none;
    position:absolute;
    background-color:#f9f9f9;
    min-width:200px;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
    padding-left:10px;
    z-index:1;
    list-style-type:none;
    margin-left:10px;
    padding:20px;
    color:#071c87;
    font-weight:bold;
    cursor:pointer;
}
}



.dropdown-content li:hover{
    color:#a7c3ff;
}

.dropdown-content li{
  padding:8px;
  font-size:20px;
}

.dropdown:hover .dropdown-content {
    display: block;
}














/*main content*/

main{
  background-image:url("images/Pattern-03.svg");
  max-width:2000px;
  background-size:cover;
  height:860px;

}



h1{
  font-family:'hot_and_black_tearegular';
  color:white;
  font-weight:bold;
  text-transform:uppercase;
  text-align:center;
  font-size:70px;
  padding:0px;
  margin:0px;
  padding-left:610px;
  display:inline-block;
  line-height:0px;
  letter-spacing:10px;

}




.welcome{
  font-family:'hot_and_black_tearegular';
  color:white;
  font-weight:normal;
  text-transform:uppercase;
  text-align:center;
  font-size:230px;
  padding-top:100px;
  margin:0px;
  display:inline-block;
  line-height:250px;
  letter-spacing:20px;
  padding-left:600px;

}

@media only screen and (max-width: 1500px) {
  h1{
    font-family:'hot_and_black_tearegular';
    color:white;
    font-weight:bold;
    text-transform:uppercase;
    text-align:center;
    font-size:50px;
    padding:0px;
    margin:0px;
    padding-left:510px;
    display:inline-block;
    line-height:0px;
    letter-spacing:10px;

  }
}
@media only screen and (max-width: 1500px) {
.welcome{
  font-family:'hot_and_black_tearegular';
  color:white;
  font-weight:normal;
  text-transform:uppercase;
  text-align:center;
  font-size:180px;
  padding-top:100px;
  margin:0px;
  display:inline-block;
  line-height:230px;
  letter-spacing:20px;
  padding-left:500px;

}
}

@media only screen and (max-width: 1000px) {
  h1{
    font-family:'hot_and_black_tearegular';
    color:white;
    font-weight:bold;
    text-transform:uppercase;
    text-align:center;
    font-size:50px;
    padding:0px;
    margin:0px;
    padding-left:270px;
    display:inline-block;
    line-height:0px;
    letter-spacing:10px;

  }
}
@media only screen and (max-width: 1000px) {
.welcome{
  font-family:'hot_and_black_tearegular';
  color:white;
  font-weight:normal;
  text-transform:uppercase;
  text-align:center;
  font-size:175px;
  padding-top:100px;
  margin:0px;
  display:inline-block;
  line-height:200px;
  letter-spacing:20px;
  padding-left:260px;

}
}


@media only screen and (max-width: 500px) {
  h1{
    font-family:'hot_and_black_tearegular';
    color:white;
    font-weight:bold;
    text-transform:uppercase;
    text-align:center;
    font-size:30px;
    padding:0px;
    margin:0px;
    padding-left:50px;
    display:inline-block;
    line-height:0px;
    letter-spacing:10px;

  }
}
@media only screen and (max-width: 500px) {
.welcome{
  font-family:'hot_and_black_tearegular';
  color:white;
  font-weight:normal;
  text-transform:uppercase;
  text-align:center;
  font-size:120px;
  padding-top:100px;
  margin:0px;
  display:inline-block;
  line-height:160px;
  letter-spacing:20px;
  padding-left:50px;

}
}







.white-logo{
  max-width:400px;
  float:center;
  display:inline-block;
  padding-top:50px;
}


@media only screen and (max-width: 1000px) {
  .white-logo{
    max-width:350px;
    float:center;
    display:inline-block;
    padding-top:50px;
  }
}

@media only screen and (max-width: 500px) {
  .white-logo{
    max-width:300px;
    float:center;
    display:inline-block;
    padding-top:50px;
  }
}





h2{
  font-size:60px;
  text-align:center;
  padding-top:10px;
  text-transform:uppercase;
  font-weight:bold;
  color:#071c87;
  padding-bottom:20px;
}

@media only screen and (max-width: 1500px) {
  h2{
    font-size:55px;
    text-align:center;
    padding-top:10px;
    text-transform:uppercase;
    font-weight:bold;
    color:#071c87;
    padding-bottom:20px;
  }
}
@media only screen and (max-width: 1000px) {
  h2{
    font-size:45px;
    text-align:center;
    padding-top:10px;
    text-transform:uppercase;
    font-weight:bold;
    color:#071c87;
    padding-bottom:20px;
  }
}
@media only screen and (max-width: 500px) {
  h2{
    font-size:35px;
    text-align:center;
    padding-top:10px;
    text-transform:uppercase;
    font-weight:bold;
    color:#071c87;
    padding-bottom:40px;
  }
}




@media only screen and (min-width:501px) {
.single{
  display:none;

}
}



.how-it-works{
  max-width:1200px;
  padding-left:285px;
  padding-top:10px;
  padding-bottom:0px;
}

@media only screen and (max-width: 1500px) {
  .how-it-works{
    max-width:1000px;
    padding-left:240px;
    padding-top:10px;
    padding-bottom:0px;
  }
}
@media only screen and (max-width: 1000px) {
  .how-it-works{
    max-width:800px;
    padding-left:85px;
    padding-top:10px;
    padding-bottom:0px;
  }
}
@media only screen and (max-width: 500px) {
.how-it-works{
display:none;
  }

}


@media only screen and (max-width: 500px) {
.single{
  padding-left:25px;
  padding-top:0px;
  padding-bottom:40px;
}
}




h3{
  display:inline;
  text-transform:uppercase;
  font-style:italic;
  color:#ced369;
  font-size:24px;
  padding-left:200px;
}

h3.left{
  display:inline;
  padding-left:380px;

}

@media only screen and (max-width: 1500px) {
  h3,h3.left{
    display:inline;
    text-align:center;
    text-transform:uppercase;
    font-style:italic;
    color:#ced369;
    font-size:22px;
    padding-left:150px;
  }
}

@media only screen and (max-width: 1500px) {
  h3.left{
    display:inline;
    padding-left:300px;
  }
}

@media only screen and (max-width: 1000px) {
  h3,h3.left{
    display:inline;
    text-align:center;
    text-transform:uppercase;
    font-style:italic;
    color:#ced369;
    font-size:22px;
    padding-left:80px;
  }
}

@media only screen and (max-width: 1000px) {
  h3.left{
    display:inline;
    padding-left:120px;
  }
}



@media only screen and (max-width: 500px) {
  h3,h3.left{
    display:inline;
    text-align:center;
    text-transform:uppercase;
    font-style:italic;
    color:#ced369;
    font-size:22px;
    padding-left:150px;
  }
}





p{
  display:inline-block;
  color:#a7c3ff;
  font-size:18px;
  padding-left:200px;
  max-width:200px;
  text-align:center;
  padding-bottom:30px;
}

p.left-two{
  padding-left:385px;
}


@media only screen and (max-width: 1500px) {
  p{
    display:inline-block;
    color:#a7c3ff;
    font-size:18px;
    padding-left:140px;
    max-width:195px;
    text-align:center;
    padding-bottom:30px;
  }

  p.left-two{
    padding-left:310px;
  }
}

@media only screen and (max-width: 1000px) {
  p{
    display:inline-block;
    color:#a7c3ff;
    font-size:16px;
    padding-left:90px;
    max-width:175px;
    text-align:center;
    padding-bottom:30px;
  }

  p.left-two{
    padding-left:130px;
  }
}




@media only screen and (max-width: 500px) {
  p{
    display:none;
    }

}



h5{
  text-transform:uppercase;
  font-size:34px;
  border:none;
  color:white;
  padding:15px 32px;
  background-color:#f57689;
  display:inline-block;
  margin-left:755px;
  padding-top:20px;
  padding-bottom:20px;
  cursor:pointer;

}

@media only screen and (max-width: 1500px) {
  h5{
    text-transform:uppercase;
    font-size:28px;
    border:none;
    color:white;
    padding:15px 32px;
    background-color:#f57689;
    display:inline-block;
    margin-left:630px;
    padding-top:20px;
    padding-bottom:20px;
    cursor:pointer;

  }
}
@media only screen and (max-width: 1000px) {
  h5{
    text-transform:uppercase;
    font-size:28px;
    border:none;
    color:white;
    padding:15px 32px;
    background-color:#f57689;
    display:inline-block;
    margin-left:370px;
    padding-top:20px;
    padding-bottom:20px;
    cursor:pointer;

  }
}


@media only screen and (max-width: 500px) {
  h5{
    text-transform:uppercase;
    font-size:28px;
    border:none;
    color:white;
    padding:15px 32px;
    background-color:#f57689;
    display:inline-block;
    margin-left:120px;
    padding-top:20px;
    padding-bottom:20px;
    cursor:pointer;

  }
}
